@import 'tailwindcss';

.modal-overlay {
  @apply fixed top-0 left-0 z-[999] flex h-screen w-screen items-center justify-center bg-black/40;
  .modal-container {
    @apply h-4/5 max-h-[95vh] w-full max-w-6xl overflow-y-auto rounded-lg bg-white p-5 shadow-xl;

    .text-hover-decoration:hover {
      @apply cursor-pointer underline;
    }

    .modal-form {
      @apply m-auto mt-10 w-6/7 p-0;

      div label {
        @apply mt-5 h-10 w-2/5 rounded-xl bg-blue-950 p-2 font-semibold text-gray-100 shadow-lg transition-all duration-300 hover:shadow-xl;
      }

      select {
        @apply mt-4 rounded-lg border border-gray-300 bg-white px-4 py-2 text-gray-700 transition duration-300 ease-in-out;
      }

      table {
        @apply mb-6 w-full border-collapse;
      }

      tr {
        @apply border border-gray-300 p-4 text-center text-[15px];
      }

      tr:nth-child(odd) {
        @apply bg-white;
      }

      tr:nth-child(even) {
        @apply bg-gray-50;
      }

      th {
        @apply w-fit border-1 border-black bg-blue-950 p-2 font-semibold text-white uppercase;
      }

      td {
        @apply border-gray-200 p-2 text-gray-700;
      }

      .delete-button {
        @apply cursor-pointer rounded border-none bg-red-600 p-2 px-4 text-sm text-white;
      }

      .delete-button:hover {
        @apply bg-gray-600;
      }

      .modify-button {
        @apply w-20 cursor-pointer rounded border-none bg-blue-700 p-2 px-4 text-sm text-white;
      }

      .modify-button:hover {
        @apply bg-blue-900;
      }

      .upload-button {
        @apply w-20 cursor-pointer rounded border-none bg-blue-700 p-2 px-4 text-sm text-white;
      }

      .upload-button:hover {
        @apply bg-blue-900;
      }

      .button-container {
        @apply mt-4 flex justify-end gap-3 px-16;

        button {
          @apply cursor-pointer rounded border-none bg-blue-700 p-2 px-4 text-sm text-white;
        }
        button:hover {
          @apply bg-blue-800;
        }

        button:last-child {
          @apply bg-gray-500;
        }

        button:last-child:hover {
          @apply bg-gray-600;
        }
      }
    }
  }
}
